<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
<typeAliases>
		<typeAlias type="com.hanbit.team04.core.vo.IdeaVO" alias="IdeaVO" />
		<typeAlias type="com.hanbit.team04.core.vo.ReplyVO" alias="ReplyVO" />
		<typeAlias type="com.hanbit.team04.core.vo.IdeaMemberVO" alias="IdeaMemberVO" />
		<typeAlias type="com.hanbit.team04.core.vo.IdeaCusBoardVO" alias="IdeaCusBoardVO" />
		<typeAlias type="com.hanbit.team04.core.vo.IdeaBoardVO" alias="IdeaBoardVO" />
		<typeAlias type="com.hanbit.team04.core.vo.FileVO" alias="FileVO" />
		<typeAlias type="com.hanbit.team04.core.vo.RankBoardVO" alias="RankBoardVO" />
		<typeAlias type="com.hanbit.team04.core.vo.BongCommentVO" alias="BongCommentVO" />
		<typeAlias type="com.hanbit.team04.core.vo.BongBoardPage" alias="BongBoardPage" />
		<typeAlias type="com.hanbit.team04.core.vo.BongBoardVO" alias="BongBoardVO" />
		<typeAlias type="com.hanbit.team04.core.vo.BongFileVO" alias="BongFileVO" />
		<typeAlias type="com.hanbit.team04.core.vo.MamVO" alias="MamVO" />
	</typeAliases>
</configuration>